:root
  --navbar-height: 60px


  --color-primary: #5e72e4
  --swiper-pagination-color: #5e72e4
  --swiper-theme-color: #5e72e4

  --button-border-radius: 4px

.global
  padding-top: var(--navbar-height)

.line-clamp
  display: -webkit-box
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical
  overflow: hidden

.page
  padding-bottom: 2rem

.swiper-container-horizontal > .swiper-pagination-bullets
  bottom: 0
  z-index: 99
